<footer>
    <div class="footer-links">
        <a href="/pages/about_us.html">About</a>
        <a href="/pages/cookies.html">Cookies</a>
        <a href="/pages/help.html">Help</a>
        <a href="/pages/advertising.html">Advertising</a>
        <a href="/pages/terms_of_use.html">Terms of Use</a>
        <a href="/pages/privacy_policy.html">Privacy Policy</a>
    </div>
    <div class="footer-social-icons">
        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://discord.com" target="_blank"><i class="fa-brands fa-discord"></i></a>
        <a href="mailto:support@example.com"><i class="fa-solid fa-envelope"></i></a>
    </div>
</footer>