<head>
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/da12da5f88.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <link rel="stylesheet" href="../assets/styles/responsive.css">
</head>

<footer>
    <div class="footer-links">
        <a href="#">About</a>
        <a href="#">Cookies</a>
        <a href="#">Help</a>
        <a href="#">Advertising</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="footer-social-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-discord"></i></a>
        <a href="#"><i class="fa-solid fa-envelope"></i></a>
    </div>
</footer>