<header>
    <div class="container">
        <div class="menu-bar-logo">
            <div class="menu-bar-icon">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo">
                <a href="/homepage">
                    <img src="../assets/image/logo/logo_image_text.png" alt="Logo">
                </a>
            </div>
        </div>
        <nav>
            <ul>
                <div class="create-post-button ">
                    <p>CREATE</p>
                </div>
                <li><a href="/homepage">Home </a></li>
                <li><a href="#">Cooks Chart</a></li>
                <li><a href="/bmi">BMI</a></li>
                <li><a href="/savedRecipes">Saved Recipes</a></li>
            </ul>
        </nav>
        <div class="nav-btn">
            <div class="search-icon">
                <a href="/search">
                    <img src="../assets/image/icon/search_icon.png" alt="Search">
                </a>
            </div>
            <div class="notify">
                <img src="../assets/image/icon/notify_icon.png" alt="Notify">
            </div>
            <div class="create-post-button">
                <p>Create</p>
            </div>
            <div class="user-logo">
                <a href="/profile">
                    <img src="../assets/image/avatar_default.png" alt="Avatar">
                    <p>Alice</p>
                </a>
            </div>
        </div>
    </div>
</header>