<header>
    <div class="container">
        <div class="logo">
            <a href="#">
                <img src="../assets/image/logo_image_text.png" alt="Logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home </a></li>
                <li><a href="#">Cooks Chart</a></li>
                <li><a href="#">BMI</a></li>
                <li><a href="#">Saved Recipes</a></li>
            </ul>
        </nav>
        <div class="search-icon">
            <img src="../assets/image/search_icon.png" alt="Search">
        </div>
        <div class="notify">
            <img src="../assets/image/notify_icon.png" alt="Notify">
        </div>
        <div class="create-post-button">
            <p>Create</p>
        </div>
        <div class="user-logo">
            <a href="#">
                <img src="../assets/image/avatar.jpg" alt="Avatar">
                <p>Alice</p>
            </a>
        </div>
    </div>
</header>