<html>

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
  <link rel="stylesheet" as="style" onload="this.rel='stylesheet'"
    href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900" />
  <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
  <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>

  <title>CookHub | BMI</title>
  
  <!-- Font -->
  <script src="https://kit.fontawesome.com/da12da5f88.js" crossorigin="anonymous"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="../assets/styles/styles.css">
  <link rel="stylesheet" href="../assets/styles/responsive.css">
  <!-- JavaScript -->
  <script src="../js/loadHTML.js"></script>
</head>

<body>
  <div class="header"></div>
  <div class=" mt-16 px-40 flex flex-1 justify-center py-5">

    <div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">

      <div class="flex flex-wrap justify-between gap-3 p-4">
        <p class="text-[#181811] text-4xl font-black leading-tight tracking-[-0.033em] min-w-72">Calculate your BMI</p>
      </div>
      <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
        <label class="flex flex-col min-w-40 flex-1">
          <p class="text-[#181811] text-base font-medium leading-normal pb-2">Sex</p>
          <select id="gender"
            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#181811] focus:outline-0 focus:ring-0 border bg-[#f5f4f0] focus:border-none h-14 placeholder:text-[#8c875f] p-4 text-base font-normal leading-normal">
            <option value="" disabled selected>Select gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </label>

        <label class="flex flex-col min-w-40 flex-1">
          <p class="text-[#181811] text-base font-medium leading-normal pb-2">Height</p>
          <input placeholder="cm" id="height"
            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#181811] focus:outline-0 focus:ring-0 border bg-[#f5f4f0] focus:border-none h-14 placeholder:text-[#8c875f] p-4 text-base font-normal leading-normal"
            value="" />
        </label>
      </div>
      <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
        <label class="flex flex-col min-w-40 flex-1">
          <p class="text-[#181811] text-base font-medium leading-normal pb-2">Weight</p>
          <input placeholder="kg" id="weight"
            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#181811] focus:outline-0 focus:ring-0 border bg-[#f5f4f0] focus:border-none h-14 placeholder:text-[#8c875f] p-4 text-base font-normal leading-normal"
            value="" />
        </label>
      </div>

      <div class="flex px-4 py-3">
        <button id="calculateButton"
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 flex-1 bg-[#FF8C00] text-white text-sm font-bold leading-normal tracking-[0.015em] hover:bg-[#e57c00] transition-all duration-300">
          <span class="truncate">Calculate BMI</span>

        </button>

      </div>
      <h3 class="text-[#181811] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">BMI Categories</h3>
      <div class="p-4 grid grid-cols-2">
        <div class="flex flex-col gap-1 border-t border-solid border-t-[#e6e5db] py-4 pr-2">
          <p class="text-[#8c875f] text-sm font-normal leading-normal">Underweight</p>
          <p class="text-[#181811] text-sm font-normal leading-normal">&lt;18.5</p>
        </div>
        <div class="flex flex-col gap-1 border-t border-solid border-t-[#e6e5db] py-4 pl-2">
          <p class="text-[#8c875f] text-sm font-normal leading-normal">Normal weight</p>
          <p class="text-[#181811] text-sm font-normal leading-normal">18.5 - 24.9</p>
        </div>
        <div class="flex flex-col gap-1 border-t border-solid border-t-[#e6e5db] py-4 pr-2">
          <p class="text-[#8c875f] text-sm font-normal leading-normal">Overweight</p>
          <p class="text-[#181811] text-sm font-normal leading-normal">25 - 29.9</p>
        </div>
        <div class="flex flex-col gap-1 border-t border-solid border-t-[#e6e5db] py-4 pl-2">
          <p class="text-[#8c875f] text-sm font-normal leading-normal">Obesity</p>
          <p class="text-[#181811] text-sm font-normal leading-normal">30 or more</p>
        </div>
      </div>
      <h3 class="text-[#181811] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Guidelines for risk
        of chronic diseases</h3>
      <p class="text-[#181811] text-base font-normal leading-normal pb-3 pt-1 px-4">
        BMI less than 18.5: You are underweight and possibly malnourished. It is recommended to gain weight within the
        healthy range by consuming a balanced diet and engaging
        in regular physical activity. Consult a healthcare professional for further guidance.
      </p>
      <p class="text-[#181811] text-base font-normal leading-normal pb-3 pt-1 px-4">
        BMI 18.5 - 24.9: You are within a healthy weight range for young and middle-aged adults. Maintain a balanced
        diet, engage in regular physical activity, and avoid
        excessive consumption of foods high in added sugars, salt, and unhealthy fats.
      </p>
      <p class="text-[#181811] text-base font-normal leading-normal pb-3 pt-1 px-4">
        BMI 25 - 29.9: You are overweight and at risk for developing chronic diseases such as heart disease, type 2
        diabetes, and certain types of cancer. It is recommended
        to lose weight by consuming a balanced diet with appropriate portion sizes, engaging in regular physical
        activity, and seeking support from a healthcare professional
        or registered dietitian.
      </p>
      <p class="text-[#181811] text-base font-normal leading-normal pb-3 pt-1 px-4">
        BMI 30 or more: You are considered obese and at significantly increased risk for chronic diseases. Immediate
        action is recommended to lose weight by adopting a
        balanced diet, engaging in regular physical activity, and seeking support from a healthcare professional or
        registered dietitian. Weight loss may also involve medical
        supervision and treatment options such as prescription medications or bariatric surgery for individuals with
        severe obesity.
      </p>
    </div>
  </div>
  
  <div class="footer"></div>
  <script src="../js/bmi.js"></script>
</body>

</html>