<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookHub | Profile</title>
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/da12da5f88.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/styles.css">
    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="../js/loadHTML.js"></script>
    <script src="../js/loadRecipes.js"></script>
    <script src="../js/loadUserInfo.js"></script>
</head>
<body>
    <!-- Begin: Header -->
    <div class="header"></div> <!-- Header will be loaded here-->
    <!-- End: Header -->

    <!-- Begin: Profile Cover -->
    <section class="profile-cover">
        <div class="cover-content">
            <img src="../assets/image/avatar_default.png" alt="Avatar" class="profile-avatar">
            <p class="username"></p>
            <p class="userid"></p>
            <p class="stats">Rank #193 | 93 posts | 1993 followers | 19 following</p>
            <button class="edit-profile">Edit my profile</button>
            <p class="profile-link"></p>
        </div>
        <div class="social-icons">
            <a href="#"><img src="../assets/image/icon_facebook.png" alt="Facebook"></a>
            <a href="#"><img src="../assets/image/icon_twitter.png" alt="Twitter"></a>
            <a href="#"><img src="../assets/image/icon_instagram.png" alt="Instagram"></a>
        </div>
    </section>        
    <!-- End: Profile Cover -->

    <!-- Begin: Profile Content -->
    <section class="profile-content">
        <div class="row"></div> <!-- Recipes will be loaded here-->
        <button class="see-more-button">See More</button>
    </section>    
    <!-- End: Profile Content -->

    <!-- Begin: Footer -->
    <div class="footer"></div> <!-- Footer will be loaded here-->
    <!-- End: Footer -->
</body>
</html>