<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookHub | Profile</title>
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/da12da5f88.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/styles.css">
    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="../js/loadHTML.js"></script>
    <script src="../js/loadRecipes.js"></script>
    <script src="../js/loadUserInfo.js"></script>
    <script src="../js/editProfile.js"></script>
    <script src="../js/editPassword.js"></script>
</head>
<body>
    <div class="main">
        <!-- Begin: Header -->
        <div class="header"></div> <!-- Header will be loaded here-->
        <!-- End: Header -->

        <!-- Begin: Profile Cover -->
        <section class="profile-cover">
            <div class="cover-content">
                <img src="../assets/image/avatar_default.png" alt="Avatar" class="profile-avatar">
                <p class="username"></p>
                <p class="userid"></p>
                <p class="stats">Rank #193 | 93 posts | 1993 followers | 19 following</p>
                <button class="edit-my-profile-btn js-edit-profile">Edit my profile</button>
                <p class="profile-link"></p>
            </div>
            <div class="social-icons">
                <a href="#"><img src="../assets/image/icon/icon_facebook.png" alt="Facebook"></a>
                <a href="#"><img src="../assets/image/icon/icon_twitter.png" alt="Twitter"></a>
                <a href="#"><img src="../assets/image/icon/icon_instagram.png" alt="Instagram"></a>
            </div>
        </section>        
        <!-- End: Profile Cover -->

        <!-- Begin: Profile Content -->
        <section class="profile-content">
            <div class="row"></div> <!-- Recipes will be loaded here-->
            <button class="see-more-button">See More</button>
        </section>    
        <!-- End: Profile Content -->

        <!-- Begin: Footer -->
        <div class="footer"></div> <!-- Footer will be loaded here-->
        <!-- End: Footer -->
    </div>

    <!-- Begin: Edit Profile Form -->
    <div class="modal modal-edit-profile">
        <div class="edit-profile-form">
            <button class="close-btn js-modal-close">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <p class="heading">Edit Profile</p>
            <div class="line"></div>
        
            <div class="edit-avatar">
                <div class="label-edit">
                    <p class="label">Profile photo</p>
                    <a href="" class="edit">Edit</a>
                </div>
                <img src="../assets/image/users/avatars/avatar_a1b2c3d4e5.jpg" alt="Avatar">
            </div>
    
            <div class="edit-background">
                <div class="label-edit">
                    <p class="label">Cover photo</p>
                    <a href="" class="edit">Edit</a>
                </div>
                <img src="../assets/image/users/profile_backgrounds/background_a1b2c3d4e5.jpg" alt="Background">
            </div>
    
            <div class="edit-info">
                <div class="edit-name">
                    <label for="user-name">Name</label>
                    <input type="text" id="user-name" value="Alice">              
                </div>
                <div class="edit-userid">
                    <label>User ID</label>
                    <input type="text" value="@cook_12345" disabled>
                </div>
                
                <div class="edit-mail">
                    <label>Mail</label>
                    <input type="email" value="Alice12345@gmail.com" disabled>
                </div>
                
                <div class="edit-password">
                    <label>Password</label>
                    <div class="password-container">
                        <input type="password" value="********" disabled>
                        <button class="edit-button"><i class="fas fa-pen"></i></button>
                    </div>
                </div>
                
                <div class="edit-links">
                    <label for="user-social-link">Link</label>
                    <div class="links-container">
                        <div class="social-row">
                            <div class="user-links">
                                <a href="">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <input type="text" id="user-social-link" value="www.https/facebook/alice">
                            </div>
                            <button class="delete-links"><i class="far fa-trash-alt"></i></button>
                        </div>
                        <div class="social-row">
                            <div class="user-links">
                                <a href="">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                                <input type="text" id="user-social-link" value="www.https/x/alice">
                            </div>
                            <button class="delete-links"><i class="far fa-trash-alt"></i></button>
                        </div>
                        <div class="social-row">
                            <div class="user-links">
                                <a href="">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <input type="text" id="user-social-link" value="www.https/instagram/alice">
                            </div>
                            <button class="delete-links"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="save-cancel-container">
                <button class="save-btn btn">Save</button>
                <button class="cancel-btn btn js-modal-close">Cancel</button>
            </div>
        </div>
    </div>
    <!-- End: Edit Profile Form -->
    
    <!-- Begin: Edit Password Form -->
    <div class="modal modal-edit-pass">
        <div class="edit-pass-form">
            <button class="close-btn js-modal-close">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="heading">Change password</div>
            <div class="change-pass-row">
                <label for="current-pass">Current password</label>
                <input type="text" id="current-pass" placeholder="Enter current password">
            </div>
            <div class="change-pass-row">
                <label for="new-pass">New password</label>
                <input type="text" id="new-pass" placeholder="Enter new password">
            </div>
            <div class="change-pass-row">
                <label for="confirm-new-pass">Confirm new password</label>
                <input type="text" id="confirm-new-pass" placeholder="Confirm new password">
            </div>
    
            <div class="save-cancel-container">
                <button class="save-btn btn">Save</button>
                <button class="cancel-btn btn js-modal-close">Cancel</button>
            </div>
        </div>
    </div>
    <!-- End: Edit Password Form -->
</body>
</html>