<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookHub - Danh sách công thức</title>
</head>
<body>
    <h1>Danh sách công thức nấu ăn</h1>
    <div id="recipes"></div>

    <script src="../js/main.js"></script>
</body>
</html>