<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./style.css">
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
    <div class="main">
      <div class="main2"></div>
      <div class="bar">
        <div class="logoo">
          <img class="brown-and-yellow-modern-food-presentation-3-1" src="brown-and-yellow-modern-food-presentation-3-10.png" />
        </div>
        <div class="logo">
          <img class="_5533015-1" src="_5533015-10.png" />
        </div>
        <div class="avata">
          <div class="alice">
            <div class="frame-40">
              <div class="alice2">Alice</div>
            </div>
          </div>
          <div class="avata2">
            <img class="ellipse-6" src="ellipse-60.png" />
          </div>
        </div>
        <div class="group-52">
          <div class="button2">
            <div class="bell">
              <img class="bell2" src="bell1.png" />
            </div>
            <div class="cook-chart">
              <div class="cooks-chart">Cooks Chart</div>
            </div>
            <div class="bmi">
              <div class="bmi2">BMI</div>
            </div>
            <div class="create-button">
              <div class="my-recipes">
                <div class="create">Create</div>
              </div>
            </div>
            <div class="saved-recipes">
              <div class="saved-recipes2">Saved Recipes</div>
            </div>
            <div class="home">
              <div class="home2">Home</div>
            </div>
          </div>
          <img class="search" src="search0.png" />
        </div>
      </div>
    </div>
  </body>
</html>